@import "tailwindcss" source(".");
@plugin "tailwindcss-react-aria-components";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	@apply h-full bg-white dark:bg-gray-900;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
